##
# JetBrains IDEs
##
/.idea/

# Don't exclude files that might not be related to the IDE
*.iml
/*/*.iml
/NMS/*/*.iml

##
# Maven
##
# Don't exclude a 'target' package by accident
/target/
/*/target/
/NMS/*/target/

dependency-reduced-pom.xml

##
# Misc.
##
.DS_Store
