##
# JetBrains IDEs
##
/.idea/
*.iml
/*/*.iml
/core/*/*.iml
/hooks/*/*.iml

##
# Maven
##
/target/
/*/target/
/core/*/target/
/hooks/*/target
/NMS/*/target/

dependency-reduced-pom.xml
/**/logs/*.log

##
# Misc.
##
.DS_Store
